[submodule "panda_simulation"]
	path = panda_simulation
	url = ../panda_simulation.git
[submodule "openai_ros"]
	path = openai_ros
	url = git@bitbucket.org:rickstaa/openai_ros.git
[submodule "openai_examples_projects"]
	path = openai_examples_projects
	url = git@bitbucket.org:rickstaa/openai_examples_projects.git
