# Logs and data
control/logs/
data/
logs/*
*.pnpm-error.log
*.pnpm-debug.log
*.log

# Docs
_autosummary/

# Cache
__pycache__/
*.pyc
slprj/
matlab_msg_gen_ros1/

# Tests
pytest/
*.pytest_cache/
.coverage
pytest-coverage.txt

# Dist
build/
dist/
.eggs/
*.egg-info/

# node
node_modules/

# IDE files to ignore
.vscode/
*.code-workspace
compile_commands.json

# Other
runs/
rosdeps/
MUJOCO_LOG.TXT
client_id
*.profile
*.prof
