<!-- Launch file for training using the DDQG method -->
<launch>

    <!--## ARGUMENTS ##-->
    <arg name="moveit" default="true" />

    <!-- Load learning parameters -->
    <rosparam file="$(find panda_training)/config/her_config.yaml" command="load" />

    <!-- Launch panda openai simulator -->
    <include file="$(find panda_training)/launch/panda_openai_sim.launch">
        <arg name="moveit" value="$(arg moveit)" />
    </include>
</launch>