<launch>

    <!-- Load the gazebo simulation -->
    <include file="$(find panda_simulation)/launch/simulation.launch">
        <!-- Spawn grasp training environment
        Which contains the table -->
        <arg name="world_name" value="$(find panda_grasp_training)/worlds/grasp_training.world"/>
    </include>

    <!-- Spawn grasp objects -->
    <node name="spawn_model_cube" pkg="gazebo_ros" type="spawn_model" args="-file $(find panda_grasp_training)/models/demo_cube/model.sdf -sdf -x 0.40 -y 0 -z 0.394169 -model grasp_cube" />
</launch>