<launch>

    <!-- Load the gazebo simulation -->
    <include file="$(find panda_simulation)/launch/simulation.launch" />

    <!-- Spawn objects -->
    <node name="spawn_model_table" pkg="gazebo_ros" type="spawn_model" args="-file $(find my_fetch_robot_training)/urdf/table.urdf -urdf -x 1 -model table" />
    <node name="spawn_model_cube" pkg="gazebo_ros" type="spawn_model" args="-file $(find fetch_gazebo)/models/demo_cube/model.sdf -sdf -x 0.70 -y 0 -z 0.394169 -model grasp_cube" />
</launch>