<!-- Launch file for training the RL algorithm -->
<launch>

    <!--## ARGUMENTS ##-->
    <!-- Simulation arguments -->
    <arg name="moveit" default="false" />
    <arg name="world_name" default="worlds/empty.world" />
    <arg name="rviz_file" default="$(find panda_grasp_training)/launch/moveit.rviz" />

    <!--## SIMULATION ##-->
    <!-- Launch simulation -->
    <include file="$(find panda_simulation)/launch/simulation.launch">
        <arg name="moveit" value="$(arg moveit)" />
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="rviz_file" value="$(arg rviz_file)" />
    </include>/>
</launch>