<!-- Launch file for fetch training with the HER algorithm -->
<launch>

    <!-- Launch simulation and moveit -->
    <include file="$(find panda_grasp_training)/launch/simulation.launch" />

    <!-- Launch moveit services -->
    <node pkg="panda_grasp_training" type="execute_trajectories_server.py" name="execute_trajectory_server"></node>

</launch>