<!-- Launch file for training using the DDQG method -->
<launch>
    <!-- Load learning parameters -->
    <rosparam file="$(find panda_reach_training)/config/her_config.yaml" command="load" />

    <!-- Launch panda openai simulator -->
    <include file="$(find panda_reach_training)/launch/panda_openai_sim.launch">
        <arg name="moveit" value="true" />
        <arg name="load_gripper" value="true" />
        <arg name="grip_site" default="true" />
    </include>

    <!-- Launch moveit services -->
    <node pkg="panda_reach_training" type="panda_moveit_server.py" name="panda_moveit_planner_server" />
</launch>